body {
    background-color: blanchedalmond;
    
}
div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(235, 240, 244, 0.975);
    width: 50%;
    border: 15px solid rgb(240, 200, 234);
    padding: 40px;
    margin: 10px;
    text-align: left;
    border-radius: 10%;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
img {
    float: right;
    border-radius: 20%;
    
}
h1 {
    font-family:fantasy

}
h2 {
    font-family:fantasy
}